<nav class="navbar navbar-expand ">
    <a class="navbar-brand" href="#"><img src="assets/img/logo-disney.png" alt="Logo da Disney" width="96px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngFor="let item of navItems">
             <a class="nav-link" [routerLink]="item.path">{{item.name}}</a>
              <ul *ngIf="item.subItems">
                <li *ngFor="let subitem of item.subItems">
                    <a href="">{{subitem.name}}</a>              
                </li>
              </ul>
            </li>    
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Busca" aria-label="" size="40" >
      </form>
      
    </div>
  </nav>

  
  <video src="assets/img/bgjedi3.jpg" width="100%"></video>